@import url('https://fonts.googleapis.com/css?family=Inter:600,800');

.main-container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.techstack-title {
  font-family: 'Inter';
  font-weight: 800;
  font-size: 40px;
  color: #fff;
  align-text: center;
  padding-bottom: 50px;
}

.techstack-container {
  padding-top: 20px;
  display: flex;
  gap: 65px;
  padding-bottom: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 300px;
  padding-right: 300px;
}

/*
  media queries
*/
@media screen and (max-width: 426px) {
  .techstack-container {
    flex-direction: column;
    white-space: initial;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 426px) and (max-width: 769px) {
  .techstack-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1441px) {
  .techstack-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
