@import url('https://fonts.googleapis.com/css?family=Inter:600,800');

* {
  box-sizing: border-box;
}

.primary-container {
  display: flex;
}

.text-container {
  padding-top: 13rem;
  padding-left: 10rem;
  font-family: 'Inter';
  color: #fff;
  font-size: 20px;
}

.image-container {
  margin-left: 10;
}

.text-container p {
  margin: 0;
  padding: 10px;
}

.subtitle-container p {
  margin: 0;
  padding-left: 10px;
  padding-bottom: 0px;
}

.name-container {
  display: flex;
}

.name {
  font-weight: 600;
  font-size: 64px;
  background-color: #3b5249;
  transform: rotate(5.1deg);
  box-shadow: 10px 10px 5px grey;
}

.level1 {
  font-weight: 600;
  font-size: 64px;
}

.level2 {
  font-size: 40px;
}

.button {
  background-color: #3b5249;
  border-radius: 30px;
  color: #fff;
  text-align: center;
  font-weight: 800;
  font-family: 'Inter';
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  border: none;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  outline: 2px solid #3b5249;
  color: #3b5249;
  cursor: pointer;
}

.button-container {
  margin-top: 30px;
  padding-left: 10px;
}
