@import url('https://fonts.googleapis.com/css?family=Inter:600,800');

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.primary-container {
  display: flex;
  justify-content: center;
}

.text-container {
  padding-top: 13rem;
  padding-left: 10rem;
  font-family: 'Inter';
  color: #fff;
  font-size: 20px;
}

.image-container {
  margin-left: 10;
  animation: image-load 1s ease-in;
}

.text-container p {
  margin: 0;
  padding: 10px;
  animation: primary-load 1s;
}

.subtitle-container p {
  margin: 0;
  padding-left: 10px;
  padding-bottom: 0px;
}

.name-container {
  display: flex;
}

.name {
  font-weight: 600;
  font-size: 64px;
  background-color: #3b5249;
  transform: rotate(5.1deg);
  box-shadow: 10px 10px 5px grey;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  animation: name-load 500ms ease-in;
}

.level1 {
  font-weight: 600;
  font-size: 64px;
}

.level2 {
  font-size: 40px;
}

.home-button {
  background-color: #3b5249;
  border-radius: 30px;
  color: #fff;
  text-align: center;
  font-weight: 800;
  font-family: 'Inter';
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  border: none;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.home-button:hover {
  background-color: transparent;
  outline: 2px solid #3b5249;
  color: #3b5249;
  cursor: pointer;
}

.button-container-home {
  margin-top: 30px;
  padding-left: 10px;
  animation: button-load 1s;
}

/*
  media queries
*/
@media screen and (max-width: 769px) {
  .text-container {
    margin-top: 1rem;
    padding: 0;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
  }

  .name-container {
    display: flex;
    flex-direction: column;
  }

  .level1 {
    font-size: 40px;
  }

  .name {
    align-self: center;
    font-size: 40px;
    padding: 10px;
    width: 200px;
  }

  .level2 {
    font-size: 24px;
  }

  .image-container {
    display: none;
  }
}

@media screen and (min-width: 426px) and (max-width: 769px) {
  .level1 .name {
    font-size: 60px;
  }

  .level2 {
    font-size: 34px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1441px) {
  .primary-container {
    margin-bottom: -226px;
    justify-content: center;
  }

  .level1 {
    font-size: 40px;
  }

  .level2 {
    font-size: 20px;
  }

  .name {
    font-size: 40px;
  }

  .text-container {
    padding-top: 10rem;
    padding-left: 3rem;
    padding-bottom: 10rem;
    font-family: 'Inter';
    color: #fff;
  }

  .image-container {
    padding-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .name-container {
    display: flex;
  }

  .poseidon {
    width: 450px;
    align-self: flex-end;
  }
  #b {
    height: 800px;
    width: 1200px;
  }
}

@keyframes primary-load {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes name-load {
  0% {
    visibility: hidden;
    transform: translateY(-500%);
  }
  100% {
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes image-load {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes button-load {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
