@import url('https://fonts.googleapis.com/css?family=Inter:600,800');

html,
body {
  width: 100%;
  height: 100%;
}

.experience-container {
  display: inline-block;
  background-color: #34252f;
  font-family: 'Inter';
  font-weight: 800;
  color: #fff;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  margin-top: -55px;
}

.secondary-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 300px;
  animation: primary-load 1s;
}

.experience {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 40px;
  animation: primary-load 1s;
}

.card {
  display: flex;
  flex-direction: column;
  width: 260px;
  text-align: center;
  align-items: center;
  justify-content: space-bewteen;
}

.card p {
  margin: 0;
  padding-top: 15px;
}

.job-title {
  font-size: 40px;
}

.company {
  font-size: 20px;
}

.duration {
  font-size: 20px;
}

@keyframes primary-load {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
